body{
    background: #eeeeee !important;
}
.head{
    font-size: 18px !important;
}
.content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
  }
  .footer{
    height: 50px; 
    background: dodgerblue;  
}
  .push {
    height: 50px;
}
.navbar-toggler, .navbar-toggler-icon
{
    border:0px !important;
    outline:0px !important;
}

/* Form issuing and receiving  */


.enthead {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70px);
  }
  .entbuttons {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
  }
  .entmainndi {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr minmax(500px, 550px) 1fr;
    grid-template-columns: 1fr minmax(500px, 600px) 1fr;
  }
  #entformarea {
    height:550px;
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .entform-group {
    width: 250px;
    height: 10px;
  }
  .entform-group:nth-child(even) {
    grid-column: 2/3;
  }
  .entform-group:nth-child(odd) {
    grid-column: 1/2;
  }
  .entform-group:nth-child(9) {
    grid-column: 1/3;
    grid-row: 5/6;
    margin-left: auto;
    margin-right: auto;
  }
  #entformsubb {
    grid-row: 6/7;
    grid-column: 1/3;
    width: 200px;
    height: 38px;
    margin: auto;
  }
  .entactive {
    font-size: 20px;
  }
  .entbtn {
    width: 100px;
  }
  .entselect {
    width: 250px;
  }
  .entselect select {
    border: 2px solid #0069D9;
    color: #0069D9;
  }
  .entselect select:focus {
    border: 2px solid #0069D9;
    color: #0069D9;
  }
  .entselect select option {
    background: #fff;
    color: #0069D9;
  }
  legend{
    text-align: center;
    grid-column: 2/3;
  }
  @media screen and (max-width:768px){
  .enthead {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .entbuttons {
    grid-column: 1/2;
    margin: auto;
  }
  .entmainndi {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr minmax(300px, 650px);
    grid-template-columns: 1fr minmax(300px, 500px) 1fr;
  }
  #entformarea {
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, minmax(85px,150px));
  }
  .entform-group {
    width: 250px;
    height: 10px;
  }
  .entform-group:nth-child(even) {
    grid-column: 2/3;
  }
  .entform-group:nth-child(odd) {
    grid-column: 2/3;
  }
  .entform-group:nth-child(9) {
    grid-column: 2/3;
    grid-row: 7/8;
    margin-left: auto;
    margin-right: auto;
  }
  #entformsubb {
    grid-row: 8;
    grid-column: 2/3;
    width: 200px;
    height: 38px;
    margin: auto;
  }
  .entactive {
    font-size: 20px;
  }
  .entbtn {
    width: 100px;
  }
  .entselect {
    width: 250px;
    grid-row: 6/7;
    grid-column: 2/3;
  }
  .entdept {
    grid-row: 7/8;
    grid-column: 2/3;
  }
  .entselect select {
    border: 2px solid #0069D9;
    color: #0069D9;
  }
  .entselect select:focus {
    border: 2px solid #0069D9;
    color: #0069D9;
  }
  .entselect select option {
    background: #fff;
    color: #0069D9;
  }
  legend{
    text-align: center;
    grid-column: 2/3;
  }
  }
  #timing{
      width:250px;
      margin:0;
  }

  /* form issuing and receiveing end */

  body {
    background-color:rgba(0,0,0,0.1);
  }
  .login-one-form {
    transform:translate(-50%, -50%);
    top:50%;
    max-width:350px;
    width:350px;
    left:50%;
    background-color:#fff;
    padding:30px;
    padding-right: 45px;
    border-radius:5px;
    position:absolute;
    box-shadow:2px 2px 4px rgba(0,0,0,0.2);
  }
  .login-one-ico {
    padding:0px;
    font-size:50px;
    text-align:center;
  }
  
  .form-group {
    text-align:center;
  }
  
  #input {
    margin:10px;
  
  }
  #input:focus {
    box-shadow: 0px 1px 4px rgba(0, 123, 255, 0.815);
    border:1px solid transparent;
  
  }
  
  #button {
    width:100%;
    margin:10px;
    border: none;
  }
  
  #heading {
    padding-bottom:10px;
  }
  
  #or{
    font-size: 14px;
    font-weight: bolder;
  }
  #guest{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #guest i{
    font-size: 60px;
  }